pre[class*="language-"] {
  margin-top: 32px;
  margin-bottom: 32px;
}

pre.with-artefact-label[class*="language-"] {
  margin-bottom: 0;
}

.section-label {
  font-style: italic;
  font-weight: bold;
}

.inline-math {
  display: inline-block;
}

.MathJax .math-expression,
.math-expression {
  display: block;
  margin-bottom: 20px;
}

.illustration {
  margin: 32px auto;
}

.illustration img {
  margin-left: auto;
  margin-right: auto;
}

.illustration.medium {
  height: 250px;
  width: 600px;
}

.artefact-label {
  font-size: 1em;
  font-style: italic;
  text-align: center;
  margin-bottom: 32px;
}

.book-info {
  text-align: left;
}

.book-info p {
  display: inline-block;
}

.book-info iframe {
  float: right;
}

.table-of-contents {
  font-size: 2em;
  text-align: left;
}

.table-of-contents a {
  display: block;
}

.table-of-contents a:active {
  color: #1166CC;
}

header {
  padding-bottom: 50px;
  text-align: center;
}

header p {
  font-size: 16px;
}

header h1 {
  font-size: 4em;
}

div.highlighted {
  background-color: #CCCCCC;
  border-radius: 4px;
  color: #000000;
  margin-top: 32px;
  padding: 16px;
}

div.highlighted.no-artefact-label {
  margin-bottom: 32px;
}

div.definition-term:before,
div.example-title:before,
div.theorem-title:before,
div.note-title:before {
  float: right;
  font-style: italic;
  font-weight: normal;
  margin-right: 8px;
}

div.definition-term:before {
  content: "Definition";
}

div.example-title:before {
  content: "Example";
}

div.theorem-title:before {
  content: "Theorem";
}

div.note-title:before {
  content: "Note";
}

div.definition-term,
div.example-title,
div.theorem-title,
div.note-title {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 16px;
}

div.highlighted ol {
  margin-top: 16px;
}

div.highlighted ol.lower-alpha {
  list-style-type: lower-alpha;
}